<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../styles/main.css">
  <script src="scripts/main.js"></script>
</head>

<body>

  <!-- sidebar navigation -->

  <div class="container" onclick="myFunction(this); toggleNav();">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>

  <div id="mySidenav" class="sidenav">
    <p> <br/> </p>
    <a href="#" class="homepage">Home Page</a>
    <hr>
    <a href="#" class="basemenu">About</a>
    <a href="#" class="basemenu">Services</a>
    <a href="#" class="basemenu">Clients</a>
    <a href="#" class="basemenu">Contact</a>
    <hr>
    <a href="#" class="sectiontitle">Section Title Page</a>
    <a href="#" class="tutorial">Tutorial Page</a>
    <a href="#" class="tutorial">Tutorial Page</a>
    <a href="#" class="tutorial">Tutorial Page</a>
    <a href="#" class="sectiontitle">Section Title Page</a>
    <a href="#" class="tutorial">Tutorial Page</a>
    <a href="#" class="tutorial">Tutorial Page</a>
    <a href="#" class="tutorial">Tutorial Page</a>
    <a href="#" class="sectiontitle">Section Title Page</a>
    <a href="#" class="tutorial">Tutorial Page</a>
    <a href="#" class="tutorial">Tutorial Page</a>
    <a href="#" class="tutorial">Tutorial Page</a>
  </div>

<br>
<br>

<!-- Section data: the individual information for the tutorial page goes here -->

<h1>
	<p> Page title </p>
</h1>

<h2>
	<p> Page content goes here </p>
</h2>

<!-- Previous and next buttons: link to the appropriate pages when using -->

<br>
<section class="next">
<a href='https://github.com/evhub/coconut' class="btn">Next</a>
</section>

<section class="previous">
<a href='https://github.com/evhub/coconut' class="btn">Previous</a>
</section>
<br>
</body>
