/* put all of main.css in this file */
@import "main.css";

/* Split the screen */
.split {
  height: 100%;
  width: 45%; /* this is the width of the interpreter */
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

/* Control the left side */
.left {
  left: 0;
  top: 52px;
  width: 55%;
  background-color: "white";
  z-index: 0;
  max-width: 64rem;
  transition: 0.5s;
}

/* Control the right side */
.right {
  right: 0;
  z-index: 0;
  transition: 0.5s;
}

p {
  /*margin-left: 50px;
  font-size: 1.1rem;*/
  color: white;
}
